/*--------------------------------------------
    External Font and load CSS Files
--------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('datepicker.min.css');
@import url('slicknav.min.css');
/*@import url('icofont.css');*/

/*-------------------------------------------
    CSS reset
--------------------------------------------*/
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box}img{border:0}*,td,th{padding:0}*{box-sizing:border-box;margin:0}:after,:before{box-sizing:border-box}a{background-color:transparent}a:active,a:hover{outline:0}strong{font-weight:700}button,input,textarea{margin:0;font:inherit;color:inherit}button{overflow:visible}button,select{text-transform:none}button{-webkit-appearance:button;cursor:pointer}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}

/*-------------------------------------------
    Basic Setting
--------------------------------------------*/
.container {  padding-right: 15px;  padding-left: 15px;  margin-right: auto; width: 100%;  margin-left: auto; max-width: 1100px;}
.row {margin-right: -15px;margin-left: -15px;}
.col{position: relative;min-height: 1px; float: left; width: 100%; padding: 0 15px;}
.col-1-4{width: 25%}
.col-1-3{width: 33.33333333%}
.col-1-2{width: 50%}
.clearfix:before,.clearfix:after,.container:before,.container:after,.row:before,.row:after{display: table;  content: " ";  }
.clearfix:after,.dl-horizontal dd:after,.container:after,.container-fluid:after,.row:after{ clear: both;}
.tc{text-align: center;}
.w100{width: 100%;}
::selection { background: #fe8829;  color: #ffffff;  text-shadow: none; }
::-moz-selection { background: #fe8829;  color: #ffffff;  text-shadow: none;}
body{  font-size: 14px;  background-color: #fff;  font-family: 'Poppins', sans-serif;  font-weight: 400;  color: #7d7d83; }
a{  color: #fe8829;  text-decoration: none; }
a:hover,a:focus{  text-decoration: underline;  color: #fe8829; }
h1,h2,h3,h4,h5,h6,p,ul{font-weight: 300;margin-bottom: 10px;}
h1{font-size: 36px;font-weight: 700}
h2{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 17px;}
h6{font-size: 14px;}

/*-----------------------------------------
  Landing page
-------------------------------------------*/
.common-section{  padding: 60px 0;}
.menu-container{  padding: 15px 0;  box-shadow: 2px 1px 6px #888;}
.main-menu-ul{ padding: 0;  margin: 19px 0 0 0;  list-style: none;  text-align: right;}
.main-menu-ul li{  display: inline-block;  padding-right: 15px;  margin: 0; }
.main-menu-ul li:last-child{padding-right: 0;}
.main-menu-ul li a{color: #282761; padding: 12px 0 12px 15px; display: block; text-transform: uppercase;font-weight: 700; font-size: 16px;}
.main-menu-ul li a:hover,.main-menu-ul li a.active{color: #fe8829;text-decoration: none;}
.logo{float: left;}
.logo img{max-height: 80px;}

.home-container-wrapper{  background: url("../img/topbg.jpg") no-repeat top center;  background-size: cover; }
.home-container{  min-height: 100vh;  background-color: rgba(255,255,255,.83);  padding-bottom: 50px;  position: relative; }
.home-container h1{  font-size: 60px;  margin: 9% 0 15px;  text-align: center;  text-transform: uppercase;  color: #282761; }
.home-container p.subheading{  font-size: 25px;  text-align: center;  text-transform: uppercase;  color: #282761;  padding: 0;  margin: 0;}

.zip-code-form{  width: 500px;  margin: 3% auto 10px;}
.zip-code-form input[type="number"]{  float: left;  width: 70%;  background-color: #282761;  border: 1px solid #282761;  border-right: none;  border-radius: 25px 0 0 25px;  height: 46px;  padding: 5px 15px 5px 30px;  text-transform: uppercase;  color: #fff; }
.zip-code-form input[type="number"]:focus{  outline: none;  border-color: #282761;  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(40, 39, 97, .6);  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(40, 39, 97, .6); }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{-webkit-appearance: none;margin: 0}
.zip-code-form button{  float: left;  width: 30%;  border-radius: 0 23px 23px 0;  background-color: #fe8829;  color: #ffffff;  border: none;  height: 46px;  padding: 5px 15px;  font-size: 16px;  text-transform: uppercase;}
.zip-code-form button:hover,.zip-code-form button:focus{  background-color: #fe8829;  color: #ffffff;  }

.partner-logo{background-color: #f8f8f8;}
.partner-logo ul{padding: 55px; margin: 0; text-align: center;}
.partner-logo ul li{display: inline-block; margin: 15px;}
.partner-logo ul li a,.partner-logo ul li a:hover{text-decoration: none;}
.partner-logo ul li a img{height: 30px; width: auto;}

.feature-container{transition: all 0.5s; padding: 15px; margin-top: 30px; min-height: 330px; border-bottom: 15px solid transparent;border-radius: 4px;}
.feature-container .feature-container-icon{margin-bottom: 15px; color: #282761; font-size: 45px; display: inline-block;}
.feature-container:hover{box-shadow: 2px 2px 12px rgba(136, 136, 136, 0.69); border-bottom: 15px solid #282761;}

.about-us{ padding: 60px 0; background-color: #f8f8f8;}
.sp-offer{background: url("../img/offer.jpg") no-repeat; background-size: cover; padding: 30px 0;}
.countdowntime{margin: 20px 0 10px;color: #ffffff;}
.countdowntime strong{font-size: 30px;padding: 0 3px 0 15px;}

.blog-container{padding: 15px; margin-top: 15px;}
.blog-container img{border-radius: 4px;}

/*Popup form*/
.mainForm{  position: fixed;  left: 0;  right: 0;  top: -100%;  bottom: 0;  height: 100%;  background-color: rgba(0,0,0,0);  padding: 15px;  overflow-y: auto;  transition: .5s;  -webkit-transition: .5s;  -moz-transition: .5s; }
body.formOpenJS{overflow-y: hidden;}

.scrollV{
    max-height: 500px;
    overflow: scroll;
}

body.formOpenJS .mainForm{  top: 0;  background-color: rgba(0,0,0,0.7); }
#dataForm{  background-color: #ffffff;  padding: 25px 15px 15px;  max-width: 600px;  margin: 0 auto;  position: relative; }
#dataForm .closeBtn{  position: absolute;  cursor: pointer;  right: 5px;  top: 5px; }
.formHeading{  padding-bottom: 10px;  border-bottom: 1px solid #ccc;  color: #fe8829;  }
.form-group {  margin-bottom: 15px; }
.form-group label{  font-weight: 400;  font-size: 15px;  text-transform: uppercase; }
.form-control { display: block;  width: 100%;  height: 34px;  padding: 6px 12px;  font-size: 14px;  line-height: 1.42857143;  color: #555;  background-color: #fff;  background-image: none;  border: 1px solid #ccc;  border-radius: 6px;  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
textarea.form-control{ min-height: 60px; }
.form-control:focus {  border-color: #fe8829;  outline: 0;  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 136, 41, .6);  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 136, 41, .6);  }
.form-control::-moz-placeholder {  color: #999;  opacity: 1; }
.form-control:-ms-input-placeholder {  color: #999; }
.form-control::-webkit-input-placeholder {  color: #999; }
.form-control::-ms-expand {  background-color: transparent;  border: 0; }
.form-group .labelRadio{  display: inline-block;  height: 34px;  border: 1px solid #dddddd;  border-radius: 4px;  line-height: 34px;  padding: 0 15px;  font-weight: 300; }

.policy-ul{  max-width: 700px;  margin: 0 auto 10px; }
.policy-ul li{  margin-bottom: 15px; }
.footer{  background-color: #282761;  padding: 25px 0;  color: #f4f4f4; }
.footer-ul{  padding: 0;  margin: 15px 0;  list-style: none;  text-align: center; }
.footer-ul li{  display: inline-block;  padding: 0 12px;  }
.footer-ul li a{color: #fff;}

.social-link{padding: 0; margin: 15px 0 0;text-align: right;}
.social-link li{display: inline-block; margin-left: 15px;}
.social-link li a{color: #fff;}
.social-link li a:hover{color: #fe8829; text-decoration: none;}

/*-----------------------------------------
  UI Elemnets
-------------------------------------------*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 18px;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    min-width: 120px;
}
.btn.btn-lg{
    padding: 9px 12px;
    margin-bottom: 0;
    font-size: 16px;
    border-radius: 22px;
    min-width: 140px;
    border-width: 2px;
}
.btn:hover,
.btn:focus{
    color: #333;
    text-decoration: none;
    outline: none;
}
.btn-base{
  border-color: #fe8829;
  background-color: #fe8829;
  color: #ffffff;
  opacity: 1;
    text-align: center;
}
.btn-base:focus,
.btn-base:hover,
.btn-base:active,
.btn-base.active,
.btn-base.disabled,
.btn-base[disabled] {
  opacity: 0.8;
  color: #ffffff;
  background-color: #fe8829;
  border-color: #fe8829;
}
.btn-base-o{
    border-color: #fe8829;
    background-color: transparent;
    color: #fe8829;
    opacity: 1;
    text-align: center;
}
.btn-base-o:focus,
.btn-base-o:hover,
.btn-base-o:active,
.btn-base-o.active,
.btn-base-o.disabled,
.btn-base-o[disabled] {
    opacity: 0.8;
    color: #ffffff;
    background-color: #fe8829;
    border-color: #fe8829;
}

.btn-gray{
    border-color: #B3B3B3;
    background-color: #B3B3B3;
    color: #ffffff;
    opacity: 1;
    text-align: center;
}
.btn-gray:focus,
.btn-gray:hover,
.btn-gray:active,
.btn-gray.active,
.btn-gray.disabled,
.btn-gray[disabled] {
    opacity: 0.8;
    color: #ffffff;
    background-color: #B3B3B3;
    border-color: #B3B3B3;
}
.btn-blue{
    border-color: #286090;
    background-color: #286090;
    color: #ffffff;
    opacity: 1;
    text-align: center;
}
.btn-blue:focus,
.btn-blue:hover,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
    opacity: 0.8;
    color: #ffffff;
    background-color: #286090;
    border-color: #286090;
}
/*-----------------------------------------
  Various fixes and overwrites
-------------------------------------------*/
.slicknav_menu{display: none}
.base-color{color: #fe8829;}
.secondary-color{color: #282761;}
.white-color{color: #fff;}
.mw100{max-width: 100%;}
/*------------------------------------------
    Responsive Grid Media Queries Settings
    1600+   -     Extra Large Screen
    1600-1200   - Large Screen
    1280-992   - desktop (default grid)
    992-768    - tablet landscape
    768-480     - tablet
    480-less    - phone landscape & smaller
--------------------------------------------*/

/*-------------------------Extra large--------------------------------*/
/*----- For very large+ ------*/
@media all and (min-width: 1601px) { }
/*--- below very large screen -----*/
@media all and (max-width: 1600px) {
}

/*-------------------------Large-------------------------------------*/
/*--- large screen + -----*/
@media all and (min-width: 1201px) {
}
/*--- Large screen only -----*/
@media all and (min-width: 1201px) and (max-width: 1600px) {  }
/*--- below large screen -----*/
@media all and (max-width: 1200px) {
    .tc-md{text-align: center;}
}

/*------------------------Medium------------------------------------*/
/*---   Medium screen+   -----*/
@media all and (min-width: 992px) {
    .mw190-md{min-width: 190px;}
    .blok-md{display: block;}
    .col-70p{width: 70%}
    .col-30p{width: 30%}
    .col-60p{width: 60%}
    .col-40p{width: 40%}
    .col-25p{width: 25%}
    .col-50p{width: 50%}
}
/*--- Medium screen only -----*/
@media all and (min-width: 992px) and (max-width: 1200px){
    .tc-md-o{text-align: center;}
}
/*--- below medium screen -----*/
@media all and (max-width: 991px) {
    .common-section{
        padding: 30px 0;
    }
    .show-md{
      visibility: visible;
    }
    .tc-sm{text-align: center;}
    .hide-sm{display: none}

    .home-container h1{
        font-size: 4em;
    }
    .home-container p.subheading{
        font-size: 2em;
    }
    .feature-container{min-height: auto;}

    .mainForm{
        padding: 0;
    }

    .slicknav_menu{display: block}
    #mainMenu{display: none}
}

/*-----------------------Small-------------------------------------*/
/*---   Small screen+   -----*/
@media all and (min-width: 768px) {
    .mw190-sm{
    min-width: 190px;
  }
    .blok-sm{
    display: block;
  }

}
/*--- Small screen only -----*/
@media all and (min-width: 768px) and (max-width: 991px) {
    .tc-sm-o{text-align: center;}
}
/*--- below small screen -----*/
@media all and (max-width: 767px) {
    .tc-xs{text-align: center;}
    .w100-xs{width: 100%;}

    .menu-container{text-align: center;}
    .logo{float: none;}
    .logo img{max-height: 60px;}
    .home-container h1{
        font-size: 2.5em;
    }
    .home-container p.subheading{
        font-size: 1.2em;
    }

    .col-1-4,.col-1-3,.col-1-2,.zip-code-form{width: 100%}

    .zip-code-form input[type="number"],.zip-code-form button{
        float: left;
        width: 100%;
        border-radius: 25px 25px 25px 25px;
    }
    .zip-code-form input[type="number"]{
        border-right: 1px solid #dddddd;
        text-align: center;
        margin-bottom: 5px;
    }
}

.text-center{text-align: center; font-size: 35px}
.slicknav_menu .header_phn_no, .header_phn_no.aside_heading{display: none}
.social-link{font-size: 25px}
.header_phn_no span{
    font-size: 20px;
    -webkit-animation: 1s shake infinite linear;
    -moz-animation: 1s shake infinite linear;
    -ms-animation: 1s shake infinite linear;
    -o-animation: 1s shake infinite linear;
    animation: 1s shake infinite linear;
}

@-webkit-keyframes shake {
    30%, 50%, 70%, 90% {
        -webkit-transform: rotateZ(165deg);
        -moz-transform: rotateZ(165deg);
        -ms-transform: rotateZ(165deg);
        -o-transform: rotateZ(165deg);
        transform: rotateZ(165deg);
    }
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transform: rotateZ(195deg);
        -moz-transform: rotateZ(195deg);
        -ms-transform: rotateZ(195deg);
        -o-transform: rotateZ(195deg);
        transform: rotateZ(195deg);
    }
}

@-moz-keyframes shake {
    30%, 50%, 70%, 90% {
        -webkit-transform: rotateZ(165deg);
        -moz-transform: rotateZ(165deg);
        -ms-transform: rotateZ(165deg);
        -o-transform: rotateZ(165deg);
        transform: rotateZ(165deg);
    }
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transform: rotateZ(195deg);
        -moz-transform: rotateZ(195deg);
        -ms-transform: rotateZ(195deg);
        -o-transform: rotateZ(195deg);
        transform: rotateZ(195deg);
    }
}

@-ms-keyframes shake {
    30%, 50%, 70%, 90% {
        -webkit-transform: rotateZ(165deg);
        -moz-transform: rotateZ(165deg);
        -ms-transform: rotateZ(165deg);
        -o-transform: rotateZ(165deg);
        transform: rotateZ(165deg);
    }
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transform: rotateZ(195deg);
        -moz-transform: rotateZ(195deg);
        -ms-transform: rotateZ(195deg);
        -o-transform: rotateZ(195deg);
        transform: rotateZ(195deg);
    }
}

@keyframes shake {
    30%, 50%, 70%, 90% {
        -webkit-transform: rotateZ(165deg);
        -moz-transform: rotateZ(165deg);
        -ms-transform: rotateZ(165deg);
        -o-transform: rotateZ(165deg);
        transform: rotateZ(165deg);
    }
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transform: rotateZ(195deg);
        -moz-transform: rotateZ(195deg);
        -ms-transform: rotateZ(195deg);
        -o-transform: rotateZ(195deg);
        transform: rotateZ(195deg);
    }
}

@media (max-width:991px) {
    .header_phn_no.aside_heading{
        display: block;
        float: right;
        height: 80px;
        line-height: 80px;
        color: #282761;
        font-size: 17px;
    }
    .logo{float: left}
}
@media (max-width:768px) {
    .header_phn_no.aside_heading{
        height: 70px;
        line-height: 70px;
    }
}
@media (max-width:480px) {
    .header_phn_no.aside_heading{
        font-size: 15px;
    }
}