{% load landing_page_tags %}

<div class="container">
    <div class="row">
        <div class="col">
            <a href="{% url 'landing_page:index' %}" class="logo">
                <amp-img src="{% site_static 'img/logo.png' %}" width="150" height="80" alt="Logo"> </amp-img>
            </a>
            
            <a class="header_phn_no aside_heading" href="tel:{{ site_info.phone_number }}">
                <span class="fa fa-phone"></span>
                {{ site_info.phone_number }}
            </a>
            
            <ul class="main-menu-ul" id="mainMenu">
                <li><a href="{% url 'landing_page:index' %}">Home</a></li>
                <li><a href="{% url 'landing_page:index' %}#about">Plan Info</a></li>
                <li><a href="{% url 'landing_page:index' %}#benefit">Benefits</a></li>
                <li><a href="#" class="seePlansJs">See Plans</a></li>
                <li>
                    <a class="header_phn_no" href="tel:{{ site_info.phone_number }}">
                        <span class="fa fa-phone"></span>
                        {{ site_info.phone_number }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>