{% lp_extends "base-amp.html" %}
{% load static %}


{% block title %}Privacy | {{ block.super }}{% endblock title %}


{% block container %}
    <h1>pppppppppppppppppppooooooooooooooooooooo</h1>
    <div class="menu-container">
        {% lp_include 'snippets/header-nav-amp.html' %}
    </div>
    
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="base-color tc">{{ termsandprivacy.text|default:"Privacy and Policy" }}</h2>
                    <ol class="policy-ul">
                        {{ termsandprivacy.sub_text|default:"Items will be updated soon."|safe }}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}