<!doctype html>
<html {% block html_attrs %} {% endblock html_attrs %} amp>

    <head>
    {% block html_head %}
        {% block meta_default %}{% endblock meta_default %}

        {% block meta_webmaster %}
            {{ site_info.site_meta_webmaster|default:""|safe }}
        {% endblock meta_webmaster %}

        <meta name="description" content="{% block meta_description %}{{ page.meta_description }}{% endblock meta_description %}">
        <meta name="keywords" content="{% block meta_keywords %}{{ page.meta_keywords }}{% endblock meta_keywords %}">

        {% block meta %}{% endblock meta %}

        {% block extra_meta %}{% endblock extra_meta %}
        {% block gtm %}{% endblock gtm %}

        <title>{% block title %}{{ page.get_page_title }}{% endblock title %}</title>

        {% block css %}{% endblock css %}
        {% block extra_css %}{% endblock extra_css %}
        {% block analytics_js %}
            {{ site_info.site_analytics_js|default:''|safe }}
        {% endblock analytics_js %}
        <style  amp-custom>
        .submit-btn-wrapper{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        .submit-btn-wrapper .btn{
            width: 230px;
        }
        .text_just{
            text-align: justify;
            color: black;
        }

        .div_box{
            padding: 10px;
            border: 3px;
            margin: 0;
        }
        .partnerList {
            display: none;
        }
        .short_term{
            font-size: 21px;
            padding-top:36px
        }
        .text_small{
        font-size: xx-small;
        }
        .partner{
           max-height: 500px;
            overflow: scroll
        }
        .countdowntime {
            margin: 20px 0 10px;
            color: #ffffff;
            font-weight: 700;
            font-size: 30px;
        }
        .countdowntime sub{
            font-weight:normal;
            font-size: 16px;
        }
        .blog-container h5{font-size:21px;margin-top:20px;text-align:center}
	.feature-container>i{margin-bottom: 15px;color: #282761;font-size: 45px;display: block;text-align: center}
	.feature-container>h5{text-align:center;font-size:21px}
        </style>

    {% endblock html_head %}
    </head>

    <body {% block body_attrs %}{% endblock body_attrs %}
            {% if success_msg %}
            class="formOpenJS"
        {% endif %}>
    {% block body %}
        {% block gtm_body %}{% endblock gtm_body %}
        {% block header %}{% endblock header %}
        {% block extra_header %}{% endblock extra_header %}
        {% block container %}{% endblock container %}
        {% block footer %}{% endblock footer %}
        
        {% block js %}{% endblock js %}
        {% block extra_js %}{% endblock extra_js %}
    {% endblock body %}
    </body>

</html>