{% extends 'base-main-amp.html' %}
{% load landing_page_tags %}


{% block meta_default %}
    {% include 'snippets/amp-meta-default.html' %}
{% endblock meta_default %}

{% block gtm %}
     <script type="">
                    // Set the date we're counting down to
                    var countDownDate = new Date("jun 5, 2018 15:37:25").getTime();

                    // Update the count down every 1 second
                    var x = setInterval(function() {

                        // Get todays date and time
                        var now = new Date().getTime();

                        // Find the distance between now an the count down date
                        var distance = countDownDate - now;

                        // Time calculations for days, hours, minutes and seconds
                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        // Output the result in an element with id="demo"
                        document.getElementById("coutdown").innerHTML = days + "<sub>&nbsp days &nbsp</sub>" + hours + "<sub>&nbsp hours &nbsp</sub> "
                        + minutes + "<sub>&nbsp minutes &nbsp</sub> " + seconds + "<sub>&nbsp seconds &nbsp</sub>";

                        // If the count down is over, write some text
                        if (distance < 0) {
                            clearInterval(x);
                            document.getElementById("coutdown").innerHTML ="EXPIRED";
                        }
                    }, 1000);
                    </script>
    <!-- Google Tag Manager -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Open-source framework for publishing content",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
          "logo.jpg"
        ]
      }
    </script>
<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>


    <script type="application/ld+json">
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5CXFJB6');</script>
    <!-- End Google Tag Manager -->
{% endblock gtm %}
{% block title %}
    {% if page.get_page_name_display != 'Home' %}

        {% if page.title %} {{ page.title }}
        {% else %} {{ page.get_page_name_display }} {% endif %}

        {{ site_info.title_separator }}
    {% endif %}

    {{ page.get_page_title }}
{% endblock title %}


{% block css %}
    <link rel="canonical" href="http://example.ampproject.org/article-metadata.html">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" >
    <link rel="stylesheet" href="{% site_static 'css/style-amp.css' %}" >
    <link rel="shortcut icon" href="{% site_static 'img/favicon.png' %}" />

   <style amp-boilerplate="">body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate="">body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

{% endblock css %}


{% block gtm_body %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CXFJB6"
                height="0" width="0" class="gtm"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endblock gtm_body %}
{% block container %}{% endblock container %}

{% block header %}

{% endblock header %}
{% block footer %}

    <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col col-25p hide-sm">
                        <a href="">
                            <amp-img src="{% site_static 'img/logo-white.png' %}" width="150" height="80"  alt="AMP" class="mw100"> </amp-img>
                        </a>
                    </div>
                    <div class="col col-50p tc">
                        <ul class="footer-ul">
                            <li><a href="{% url 'landing_page:index' 'terms' %}">Terms &amp; Conditions</a></li>
                            <li><a href="{% url 'landing_page:index' 'privacy' %}">Privacy</a></li>
                            <li><a href="{% url 'landing_page:index' %}#service">Services</a></li>
                            <li><a href="#" class="seePlansJs">Plans</a></li>
                        </ul>
                        <p>Copyright 2018&copy;  {{ request.get_host }} . All rights reserved.</p>
                    </div>
                    <div class="col col-25p hide-sm">
                        <ul class="social-link">
                            <li><a target="_blank" href="https://www.facebook.com/Nationshealthinsurance/"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a target="_blank" href="https://twitter.com/nhinsurance_"><i class="fab fa-twitter-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% include 'snippets/quote-form-amp.html' %}

{% endblock footer %}


{% block js %}
    {% include 'snippets/scripts-amp.html' %}
{% endblock js %}